# Phantom
phantom.callback = "Phantom_NCAT"           # name of function that reads and models phantom
phantom.projectorCallback = "C_Projector_NCAT" # name of function that performs projection through phantom
phantom.filename = '../../phantom/vmale50_chest_phantom.nrb'       # phantom filename
phantom.centerOffset = [0.0, 0.0, 0.0]      # offset of phantom center relative to origin (in mm)
phantom.scale = 1.0                         # re-scale the size of phantom