# Copyright 2020, General Electric Company. All rights reserved. See https://github.com/xcist/code/blob/master/LICENSE

recon.fov = 300.0           # diameter of the reconstruction field-of-view (in mm)
recon.imageSize = 512       # number of columns and rows to be reconstructed (square)
recon.sliceCount = 16       # number of slices to reconstruct
recon.sliceThickness = 1.0  # reconstruction slice thickness AND inter-slice interval (in mm)
recon.centerOffset = [0.0, 0.0, 0.0] # reconstruction offset relative to center of rotation (in mm)
recon.reconType = 'fdk_equiAngle'
recon.kernelType = 'RL'     # 'RL' for the Ramachandran-Lakshminarayanan (R-L) filter with a rectangular window function
                            # 'SL' for The Shepp-Logan (S-L) filter with a sinc window function
                            # 'soft', 'standard', 'bone' for kernels similar to those on clinical scanners.
recon.startAngle = 0
recon.unit = 'hu'           # '/mm', '/cm', or 'hu'
recon.mu = 0.2              # in 1/cm; typically around 0.2/cm
recon.huOffset = -1000      # unit is HU, -1000 by definition but sometimes something else is preferable