# Geometric and energy sampling
physics.energyCount = 20
physics.monochromatic = -1
physics.colSampleCount = 2
physics.rowSampleCount = 2
physics.srcXSampleCount = 2
physics.srcYSampleCount = 2
physics.viewSampleCount = 2

# Flags to determine what has to be recalculated each view/subview
# 0: no recalc; 1: recalc every view; 2: recalc every subview
physics.recalcDet = 0                       # recalculate detector geometry
physics.recalcSrc = 0                       # recalculate source geometry and relative intensity
physics.recalcGantry = 2                    # recalculate gantry model and update src and det
physics.recalcRayAngle = 0                  # recalculate source-to-detector-cell ray angles
physics.recalcSpec = 0                      # recalculate spectrum
physics.recalcFilt = 0                      # recalculate filters
physics.recalcFlux = 0                      # recalculate flux
physics.recalcPht = 0                       # recalculate phantom

# Noise on/off settings
physics.enableQuantumNoise = 1
physics.enableElectronicNoise = 1

# Internal physics models
physics.rayAngleCallback = "Detector_RayAngles_2D"
physics.fluxCallback = "Detection_Flux"
physics.scatterCallback = ""
physics.prefilterCallback = "Detection_prefilter"
physics.crosstalkCallback = "CalcCrossTalk"
physics.col_crosstalk = 0.01
physics.row_crosstalk = 0.01
physics.lagCallback = "Detection_Lag"
physics.lag_taus = [1., 10.]
physics.lag_alphas = [0.9, 0.1]
physics.opticalCrosstalkCallback = "CalcOptCrossTalk"
physics.col_crosstalk_opt = 0.01
physics.row_crosstalk_opt = 0.01
physics.DASCallback = "Detection_DAS"

# I/O preferences
physics.outputCallback = "WriteRawView"
