# Phantom
phantom.callback = "Phantom_Polygonal"              # name of function that reads and models phantom
phantom.projectorCallback = "C_Projector_Polygon"   # name of function that performs projection through phantom
phantom.filename = '../phantom/female_adult_average_lung_lesions_reduced.nrb'     # phantom filename
phantom.centerOffset = [0.0, 0.0, 0.0]              # offset of phantom center relative to origin (in mm)
phantom.scale = 1                                   # # re-scale the size of phantom