# Scanner geometry
scanner.detectorCallback = "Detector_ThirdgenCurved" # name of function that defines the detector shape and model
scanner.sid = 540.0                         # source-to-iso distance (in mm)
scanner.sdd = 950.0                         # source-to-detector distance (in mm)
scanner.detectorColsPerMod = 100            # number of detector columns per module
scanner.detectorRowsPerMod = 2              # number of detector rows per module
scanner.detectorColOffset = -10.75          # detector column offset relative to centered position (in detector columns)
scanner.detectorRowOffset = 0.0             # detector row offset relative to centered position (in detector rows)
scanner.detectorColSize = 0.25              # detector column pitch or size (in mm)
scanner.detectorRowSize = 0.25              # detector row pitch or size (in mm)
scanner.detectorColCount = 3600             # total number of detector columns
scanner.detectorRowCount = scanner.detectorRowsPerMod     # total number of detector rows
scanner.detectorPrefilter = []              # detector filter

# X-ray tube
scanner.focalspotCallback = "SetFocalspot"  # name of function that defines the focal spot shape and model
scanner.focalspotShape = "Uniform"          # Parameterize the model
scanner.targetAngle = 10.5                  # target angle relative to scanner XY-plane (in degrees)
scanner.focalspotWidth = 1.0
scanner.focalspotLength = 1.0

# Detector
scanner.detectorMaterial = "CZT"            # detector sensor material
scanner.detectorDepth = 1.6                 # detector sensor depth (in mm)
scanner.detectorColFillFraction = 0.88      # active fraction of each detector cell in the column direction
scanner.detectorRowFillFraction = 0.88      # active fraction of each detector cell in the row direction
scanner.detectionCallback = "Detection_PC"  # name of function that defines the detection process (conversion from X-rays to detector signal)
scanner.detectionResponseFilename = 'PC_spectral_response_CZT0.25x0.25x1.6.mat'   # name of the response data file
scanner.detectorBinThreshold = [24, 30, 40, 60, 80, 100, 160]  # energy thresholds (keV), n bins has n+1 thresholds; the first and last are the min and max energy thresholds.
scanner.detectorSumBins = 0                 # 1: sum all bins (gray scale output), data dim [view row col]; 0: output multiple bins [view row col bin]