# Scanner geometry
scanner.sid = 541.0                         # source-to-iso distance (in mm)
scanner.sdd = 949.0                         # source-to-detector distance (in mm)
scanner.detectorColsPerMod = 16              # number of detector columns per module
scanner.detectorRowsPerMod = 4             # number of detector rows per module
scanner.detectorColOffset = -1.25             # detector column offset relative to centered position (in detector columns)
scanner.detectorColSize = 1.0239               # detector column pitch or size (in mm)
scanner.detectorRowSize = 1.096349               # detector row pitch or size (in mm)
scanner.detectorColCount = 880              # total number of detector columns
scanner.detectorRowCount = scanner.detectorRowsPerMod     # total number of detector rows
scanner.detectorPrefilter = []  # detector filter
#scanner.detectorPrefilter = ['air', 0.001]  # detector filter
scanner.detectorDepth = 2.8                 # detector sensor depth (in mm)
scanner.detectionGain = 17.3691                # factor to convert energy to electrons (electrons / keV)
scanner.detectorColFillFraction = 0.8       # active fraction of each detector cell in the column direction
scanner.detectorRowFillFraction = 0.8       # active fraction of each detector cell in the row direction
scanner.eNoise = 0.0                     # standard deviation of Gaussian electronic noise (in electrons)
scanner.focalspotCallback = "SetFocalspot" # name of function that defines the focal spot shape and model
scanner.focalspotShape = "uniform" # name of function that defines the focal spot shape and model
scanner.focalspotWidthThreshold =0.5
scanner.focalspotLengthThreshold =0.5
scanner.focalspotLength = 1.
scanner.focalspotWidth = 1.
