# Phantom
phantom.callback = "Phantom_Analytic"              # name of function that reads and models phantom
phantom.projectorCallback = "C_Projector_Analytic" # name of function that performs projection through phantom
phantom.filename = 'FB_thorax.ppm'                 # phantom filename
phantom.scale = 10.0                               # re-scale the size of phantom
phantom.projectorNumThreads = 12
