# dose recon
dose.imageFileName = 'out_512x512x4.raw'            # name of recon image
dose.doseFileName = 'dose'                          # name of output
dose.nVoxel = 256                                   # size of the volume for dose recon
dose.xoffset = 0                                    # patient x offset from iso-center
dose.yoffset = 0                                    # patient x offset from iso-center
dose.zoffset = 0                                    # patient x offset from iso-center
dose.muWater = 0.2                                  # effective Mu according to spectral cal
dose.muBone = 0.5530                                # effective Mu according to spectral cal
dose.doConvol = 1                                   # do convolution or not (1/0)
dose.method = 4
dose.convertTomGy = 1
#dose.doserecon_phantom_material = 'polyethylene';    # if phantom material is known ...
dose.waterThreshold = 0.25
dose.airThreshold = 0.04
dose.outerAirThreshold = 0.04
