# Geometric and energy sampling
physics.energyCount = 12                    # number of energy bins

physics.colSampleCount = 1                  # number of samples of detector cells in lateral direction
physics.rowSampleCount = 1                  # number of samples of detector cells in longitudinal direction
physics.srcXSampleCount = 1                 # number of samples of focal spot in lateral direction
physics.srcYSampleCount = 1                 # number of samples of focal spot cells in longitudinal direction
physics.viewSampleCount = 1                 # number of samples of each view angle range in rotational direction

# Noise on/off settings
physics.enableQuantumNoise = 0
physics.enableElectronicNoise = 0

physics.callback_post_log = 'Prep_BHC_Accurate'
physics.EffectiveMu = 0.2
physics.BHC_poly_order = 5
physics.BHC_max_length_mm = 400
physics.BHC_length_step_mm = 10