# Reconstruction
recon.fov = 400.0           # diameter of the reconstruction field-of-view (in mm)
recon.imageSize = 512       # number of columns and rows to be reconstructed (square)
recon.sliceCount = 4        # number of slices to reconstruct

# note that in recon max complete range in z is 1.57 mm, so we use smaller thickness
recon.sliceThickness = 0.3  # reconstruction inter-slice interval (in mm)

recon.centerOffset = [0.0,0.0,0.0] # reconstruction offset relative to center of rotation (in mm)
