# Scanner geometry
scanner.detectorCallback = "Detector_FlatPanel" # name of function that defines the detector shape and model
scanner.sid = 540.0                         # source-to-iso distance (in mm)
scanner.sdd = 950.0                         # source-to-detector distance (in mm)
scanner.detectorColCount = 500             # total number of detector columns
scanner.detectorRowCount = 500             # total number of detector rows
scanner.detectorColOffset = 0.0             # detector column offset relative to centered position (in detector columns)
scanner.detectorRowOffset = 0.0             # detector row offset relative to centered position (in detector rows)
scanner.detectorColSize = 0.15               # detector column pitch or size (in mm)
scanner.detectorRowSize = 0.15               # detector row pitch or size (in mm)
scanner.detectorPrefilter = ['graphite', 1.0]  # detector filter

# X-ray tube
scanner.focalspotCallback = "Source_Uniform" # name of function that defines the focal spot shape and model
scanner.targetAngle = 7.0                   # target angle relative to scanner XY-plane (in degrees)
scanner.focalspotWidth = 1.0
scanner.focalspotLength = 1.0

# Detector
scanner.detectorMaterial = "lumex"          # detector sensor material
scanner.detectorDepth = 3.0                 # detector sensor depth (in mm)
scanner.detectionCallback = "Detection_EI"  # name of function that defines the detection process (conversion from X-rays to detector signal)
scanner.detectionGain = 15.0                # factor to convert energy to electrons (electrons / keV)
scanner.FlatPanel_H = 0.2026                # Parameter controlling the spread of OTF (flat-panel detector)
scanner.detectorColFillFraction = 0.8       # active fraction of each detector cell in the column direction
scanner.detectorRowFillFraction = 0.8       # active fraction of each detector cell in the row direction
scanner.eNoise = 0.0                     # standard deviation of Gaussian electronic noise (in electrons)
